.articlehome {
  padding: 50px 0 70px;
  position: relative;
}
.articlehome.en {
  direction: rtl;
}
.articlehome .title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 0 35px 10px;
}
.articlehome .title h2 span {
  font-weight: 700;
  color: var(--primary);
}
.articlehome .title div a {
  text-decoration: none;
  color: var(--primary);
  display: block;
  width: 70px;
  margin-top: 5px;
  margin-left: 10px;
}
.articlehome .servicediv {
  margin-bottom: 50px;
  padding: 0 10px;
}
.articlehome .servicediv.en {
  direction: rtl;
}
.articlehome .servicediv .service img {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 15px;
}
.articlehome .servicediv .service .pra {
  display: flex;
  gap: 20px;
}
.articlehome .servicediv .service .pra .p1 {
  color: var(--primary);
  font-size: 15px;
}
.articlehome .servicediv .service .pra .p2 {
  font-size: 15px;
}
.articlehome .servicediv .service h4 {
  font-size: 18px;
  color: black;
}
.articlehome .servicediv .service p {
  font-size: 13px;
  color: #777;
}
.articlehome .servicediv .service a {
  text-decoration: none;
}
.articlehome .servicediv .service a.en {
  text-decoration: none;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  align-items: center;
}
.articlehome .servicediv .service .icon {
  margin: 5px 5px 0;
  font-size: 12px;
}
.articlehome .slick-arrow.slick-next {
  position: absolute;
  /* top: 493px; */
  top: 102%;
  right: 15px;
  z-index: 200;
}
.articlehome .slick-next::before {
  content: "→";
  opacity: 1;
  font-size: 28px;
  font-family: monospace;
  background: #1172ba;
  color: white;
  border-radius: 50%;
  width: 35px;
  display: inline-block;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articlehome .slick-arrow.slick-prev {
  position: absolute;
  /* top: 493px; */
  top: 102%;
  left: 0px;
  z-index: 200;
}
.articlehome .slick-prev::before {
  content: "←";
  opacity: 1;
  font-size: 28px;
  font-family: monospace;
  background: #1172ba;
  color: white;
  border-radius: 50%;
  width: 35px;
  display: inline-block;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
